*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50;
    width: 100px;
    

}
.nav-address{
    margin-left: 15px;
}
.logo{
    background-image: url(./amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
    margin-bottom: 25px;
    
    
}
.border{
    border:2px solid transparent;
    
}
.border:hover{
     border:1.5px solid white;
     
}
.clone{
    font-size: 0.85rem;
    margin-top: 45px;
    text-align: center;
    font-size: 65%;

  
}
/**....................................................... box2 ................................................................**/
.add1{
   color: #CCCCCC;
   font-size: 0.85rem;
   margin-left: 15px;
}
.add2{
   font-size: 1rem;
   margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/*............................................................box3...............................................................*/
.nav-search{
    margin-left: 12px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 166, 0);
    width:620px;
    height: 40px;
    border-radius: 2px ;
}
.search-select{
    background:#f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 2px ;
    border-bottom-left-radius: 2px ;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.search-icon{
    width:45px;
    text-align: center;
    margin-top: 12px;
    font-size: 1.1rem;
   color: #0F1111;
}
.nav-search:hover{
     border: 2px solid orange;
}
/* .........................................................BOX 4 * & *box 5.................................................... */
 span{
    font-size: 0.7rem;
 }
 .nav-second{
    font-size: 0.85rem;
    font-weight: 700 ;
 }

/*..........................................................Box 6...........................................................*/

 
 .nav-cart i{
     font-size: 30px;
     
 }
 .nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
 }

 /*......................................................... panel box .......................................................*/

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly ;
}
.panel-opt p{
    display: inline;
    margin-left: 10px;
}
.panel-opt{
    width: 70%;
    font-size: 0.85rem;
   
}

.panel-deals{ 
    font-size: 0.9rem;
    font-weight: 700;
}
/* ............................................................hero section.................................................... */

.hero-section{
    background-image: linear-gradient(to border-bottom-left-radius);
    background-image: url(./hero_image.jpg);
   
  
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    
  
}

.hero-message{
    color:black;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 98%;
    margin-top: 17.5%;

}

.hero-message a{
     color: #007185;
     font-weight: 700;
}
 /* ................................................. shop-section ............................................ */

.shop-content{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly; 
    background-color: #c2cccd;
     
}

.box{
   
    
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px; 
}

.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;

}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185 ;
    margin-top: 2rem;
}



/* ........................................................footer panel 1  ............................................... */



 footer{
    margin-top: 15px;
}

.footer-panel1{
    background-color: #37475a;
    color:  white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

/* .........................................................Footer panel 2 ................................................... */

.footer-container{
    background-color:#222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    
}

ul a{
    display: block ;
    font-size: 0.85rem;
    margin-top: 10px ;
    color:#dddddd;
}

ul p{
    font-weight: 700;
    margin-top: 50px;
}

/* .......................................................... Footer panel 3 ..................................................... */

.footer-panel3{
    background-color: #222f3d;
   
    border-top: 0.5px solid white ;
    height: 70px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{

        background-image: url(./amazon_logo.png);
        background-size: cover;
        height: 50px;
}

.foot-panel4{
    background-color:#0F1111;
    color: white;
    height: 80px;
    text-align: center;
    font-size:  0.8rem;
   
    
}

.pages{
   
    padding-top: 20px;
    
}

.copyright{
   
    padding-top: 5px;
   
}


/* ............................................................... End ............................................................*/